/* /* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.6fr 2fr 1fr;
  grid-gap: 8px;
  grid-template-areas:
    "hero  hero  hero  hero"
    "filter filter filter filter"
    "recipe recipe recipe recipe"
    "footer  footer  footer  footer";
  margin: 0 auto;
}

.header-component {
  background-color: pink;
  grid-area: hero;
  padding: 5%;
}

.filter {
  background-color: green;
  grid-area: filter;
  padding: 5%;
}

.recipe {
  background-color: blue;
  grid-area: recipe;
  display: grid;
  grid-gap: 24px;
}

.recipe__item {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.footer {
  background-color: red;
  grid-area: footer;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 24px;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .recipe {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
} */ */

/* .ingredients{
  float: right;
} */

.home-login {
  margin-top: 20px;
  float: right;
  align-items: center;
  padding:7px;
  
  background: white 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
}


.section-container-mainpage{
  margin: auto;
  padding: 15px;
  width: 1280px;
}

.card-row { 
  display: flex;
  flex-wrap: nowrap; 
  overflow: auto;
}

.recipe-card {
  top: 180px;
  left: 40px;
  /* width: 400px; */
  height: 600px;

  margin-bottom: 15px;
  margin-right: 15px;
  padding: 20px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border: 1px solid #c9c9c9;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: center;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;

}

.navigation-buttons{
  float: right;
  margin-right: auto;
}

.navigation-buttons link{
color: black;
text-decoration: none;
}

.navigation-buttons :visited{
  color: black;
  text-decoration: none;
  }

.fridgy-text{
  margin: auto;

  width: 60%;

  padding: 10px;
  }

.home-button{
  text-align: center;
}

.ingredient-nav-button{
  padding: 20px;
}

.recipes{
  padding: 20px;
}

.shoppingList{
  padding: 20px;
}

.ingredient-submit{
  margin: auto;

  width: 60%;

  padding: 10px;
}

.header-component{
  margin-bottom: 50px;
}

.ingredients-body-content{
  margin: auto;

  width: 60%;

  padding: 10px;
}
